<!DOCTYPE html>
<html>
  <head>
    <title>ProjetoBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= render 'layouts/navigation' %>
    <% flash.each do |name, msg| %>
        <ul>
          <li><%= msg %></li>
        </ul>
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
